<div class="row mx-2 mb-3">
    <div class="col-md-12 col-lg-1 col-xl-2"></div>
    <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-5">
                <img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=600" class="img-thumbnail rounded" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title text-center pb-0 mb-0">David Williams</h5>
                  <p class="text-center mt-0 pt-0" style="color: #999;font-style: italic;">- Software Engineer -</p>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <a href="#" class="btn">Download CV</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-1 col-xl-2"></div>
</div>

<div class="row mx-2 mb-5">
    <div class="col-md-12 col-lg-1">
    </div>
    <div class="col-md-12 col-lg-10">
        <h3>Profile Details</h3>
        <div class="row mx-3 gx-2 gy-3 cards-container">
            <div class="col-sm-12 col-md-6">
                <div class="card point">
                    <div class="card-body">
                      <h5 class="card-title">Experience</h5>
                      <p class="card-text">5+ Years in Software Development</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card point">
                    <div class="card-body">
                      <h5 class="card-title">Education</h5>
                      <p class="card-text">B.Sc. Computer Science</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card point">
                    <div class="card-body">
                      <h5 class="card-title">Skills</h5>
                      <p class="card-text">Angular, .NET, C#, GraphQL</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card point">
                    <div class="card-body">
                      <h5 class="card-title">Certifications</h5>
                      <p class="card-text">Azure Certified Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card point">
                    <div class="card-body">
                      <h5 class="card-title">Projects</h5>
                      <p class="card-text">Task Management App</p>
                    </div>
                </div>
            </div>
        </div>          
    </div>
    <div class="col-md-12 col-lg-1"></div>
</div>