<div class="row mx-2 mt-5 anim-top-left">
    <div class="col-md-12 col-lg-1"></div>
    <div class="col-md-12 col-lg-10">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center">
                <img 
                  src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=600" 
                  class="img-fluid"
                  style="border-radius: 12px; width: 220px; height: 100%; object-fit: cover;" 
                  alt="..."
                >
              </div>              
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title pb-0 mb-0">David Williams</h5>
                  <p class="mt-0 pt-0" style="color: #999;font-style: italic;">Software Engineer</p>
                  <p class="location"> <i class="bi bi-geo-alt"></i> San Francisco, CA</p>
                  <p class="xp">
                    <i class="bi bi-suitcase-lg"></i> 5+ Years Experience</p>
                  <p>
                    <span class="badge">.NET</span>
                    <span class="badge mx-1">C#</span>
                    <span class="badge mx-1">TypeScript</span>
                    <span class="badge mx-1">GraphQL</span>
                    <span class="badge mx-1">Docker</span>
                  </p>                  
                  <div class="social">
                    <a href="#" target="_blank"><i class="bi bi-github"></i></a>
                    <a href="#" target="_blank"><i class="bi bi-linkedin"></i></a>
                    <a href="#" target="_blank">
                      <i class="bi bi-x-lg"></i>
                    </a>
                    <a href="#" target="_blank">
                      <i class="bi bi-gitlab"></i>
                    </a>
                    <a href="#" target="_blank">
                      <i class="bi bi-facebook"></i>
                    </a>
                  </div>
                  <div class="card-text d-flex mt-3">
                    <a href="#" class="btn ms-auto">Download CV</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-1"></div>
</div>
<div class="container">
  <app-summary-cards />
</div>