<div>
  <div class="topbar">
    <button (click)="toggleSidebar()" class="menu-button">☰</button>
    
    <button (click)="toggleTheme()" class="theme-toggle-button">
      🌙 / 🌞
    </button>
  </div>

  @if (isSidebarOpen) {
    <div class="backdrop" @backdropFade (click)="closeSidebar()"></div>
  } 
  <div class="sidebar" [class.open]="isSidebarOpen">
    <div class="sidebar-content">
      <a href="#" style="padding-top: 3rem;">Dashboard</a>
      <a href="#">Projects</a>
      <a href="#">Reports</a>
      <a href="#">Settings</a>
    </div>
  </div>
  <div class="main-content mt-3">
    <router-outlet />
  </div>
</div>